<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tests</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <header class="bg-dark text-white p-3">
       <h1>Pruebas de Logger</h1>
      </header>
       <ul>
        <li><a href="/loggerTest/debug">Debug</a></li>
        <li><a href="/loggerTest/info">Info</a></li>
        <li><a href="/loggerTest/warning">Warning</a></li>
        <li><a href="/loggerTest/error">Error</a></li>
        <li><a href="/loggerTest/fatal">Fatal</a></li>
    </ul>
    </div>
  </div>